* {
  -webkit-margin: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-padding: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  -webkit-font-family: "PP Open Sans";
  font-family: "PP Open Sans";
  -webkit-src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf17f449b004fbc5981/original.otf?1701719281")
    format("opentype");
  src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf17f449b004fbc5981/original.otf?1701719281")
    format("opentype");
  /* url('./assets/fonts/PPObjectSans-Heavy.otf') format('opentype'); */
}
@font-face {
  -webkit-font-family: "PP Open Sans Heavy";
  font-family: "PP Open Sans Heavy";
  -webkit-src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1473182004dd71b34/original.otf?1701719281")
    format("opentype");
  src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1473182004dd71b34/original.otf?1701719281")
    format("opentype");
  /* url('./assets/fonts/PPObjectSans-Heavy.otf') format('opentype'); */
}
@font-face {
  -webkit-font-family: "PP Open Sans Bold";
  font-family: "PP Open Sans Bold";
  -webkit-src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1c6581c004ce67f97/original.ttf?1701719281")
    format("opentype");
  src: url("https://braze-images.com/appboy/communication/assets/font_assets/files/656e2cf1c6581c004ce67f97/original.ttf?1701719281")
    format("opentype");
  /* url('./assets/fonts/PPObjectSans-Heavy.otf') format('opentype'); */
}
body {
  position: relative;
  padding: 24px;
  background-color: white;
  height: 100vh;
  font-family: "PP Open Sans", "sans-serif";
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.top-container {
  display: grid;
  gap: 8px;
}
.top-container p:nth-child(1) {
  font-size: 32px;
}
.top-container p:nth-child(2) {
  font-size: 14px;
}
.newCreditLine-description {
  text-align: center;
}
.newCreditLine-description p:nth-child(1) {
  font-size: 20px;
}
.newCreditLine-description p:nth-child(2) {
  font-size: 24px;
  font-family: "PP Open Sans Heavy", "sans-serif";
}
.upgrade-details p:nth-child(1) {
  font-size: 20px;
}
.upgrade-details p:nth-child(2) {
  font-size: 12px;
}
.card-details {
  display: grid;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0px 6px 14px rgba(33, 34, 36, 0.08);
  font-size: 14px;
  padding: 16px;
}
hr {
  width: 100%;
  border-color: rgba(231, 232, 233, 0.2);
  height: 0;
}
.firstRowCard,
.secondRowCard {
  display: flex;
  justify-content: space-between;
}
.firstRowCard p:nth-child(2) {
  font-family: "PP Open Sans Bold", "sans-serif";
}
.secondRowCard p:nth-child(2) {
  font-family: "PP Open Sans Bold", "sans-serif";
}

.footer {
  padding: 24px;
  display: grid;
  gap: 24px;
  place-items: center;
  position: absolute;
  bottom: 16px;
  -webkit-margin: 0 auto;
  margin: 0 auto;
  -webkit-right: 0;
  right: 0;
  -webkit-left: 0;
  left: 0;
  font-family: "PP Open Sans Bold", "sans-serif";
}
.footer button {
  width: 100%;
  border-radius: 30px;
  background-color: #6168db;
  color: white;
  font-size: 16px;
  padding: 16px;
  border: none;
  font-family: "PP Open Sans Bold", "sans-serif";
}
